* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: lightblue; 
    height: 30vh;
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
}

.main {
    background-color: lightgreen; 
    height: 40vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.footer {
    background-color: lightcoral; 
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.text {
    font-size: 20px; 
    color: #333; 
    padding: 10px; 
    text-align: center; 
}
